{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load list_menu %}

{% if LANGUAGE_CODE == 'fa' %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 CreatDistanceDiv"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Horizontal-xsUserMenu-Divider"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Horizontal-xsUserMenu-Divider"></div>
    <div id="SiteFooter" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


        <div id="FooterContactParent" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right text-right">

            <div id="FooterContactOffic" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right text-right">
                <div>

                    <div>
                        <span class="glyphicon glyphicon-info-sign IconFloatSetting FontSize18"></span>
                        <a href="{% url 'sanof:contact' %}">دفتر مرکزی</a>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="ContactFieldBlock">
                            <span class="ContactDetailTitle"> نشانی </span>
                            سنندج، بلوار کردستان، بعداز پل مردوخ به سمت پادگان، جنب ساختمان سیما منظر شهرداری، مرکزمهندسی مصالح
                        </div>

                        <br />
                        <div class="ContactFieldBlock">
                            <span class="ContactDetailTitle">تلفن </span>
                            <spa۳۳۱۵۵۴۶۵۰۸۷</span>
                        </div>

                        <br />
                        <div class="ContactFieldBlock">
                            sanofengineers82@gmail.com
                            <span class="ContactDetailTitle"> آدرس ایمیل</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <div id="FooterProductGroup" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right text-right">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right text-right">
                <div>
                    <span class="glyphicon glyphicon-info-sign IconFloatSetting FontSize18"></span>
                    مجموعه فوق فعالیت خود را در سال 80 تحت عنوان کلینیک ساختمانی فراگیر- مرکز مهندسی مصالح (عرضه کننده تجهیزات ومصالح ساختمانی روز دنیا ، ارائه دانش فنی وخدمات اجرایی) شروع به فعالیت نمود ودرسال 89 با تاسیس شرکت مهندسین سانوف – سهامی خاص ،با اتکا به دانش وامکانات موجود قدم در راه عمران وآبادانی کشورعزیزمان ایران برداشت تا سهمی هرچند کوچک در این زمینه داشته باشد 
                </div>
            </div>

            <div id="FooterProductGroupBody1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 FooterProductGroupBody pull-right text-right">
               
              
            </div>
        </div>

       

        <div class="hidden-lg hidden-md hidden-sm" style="height: 25px; width: 100%;"></div>

        <div id="SocialNetworkLogo" class="col-lg-4 col-md-4 col-sm-12 hidden-xs   pull-right text-right">

            <div id="" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ContactPhoneBold">
                <span class=""></span>
                +98-8733155465
            </div>

            <div style="margin-top: 15px;">
                <div id="instagramLink" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="float: left">
                        <img src="{% static 'icons/instagram.png' %}" alt="sanof Group instagram" title="Abadgaran Group instagram" />
                        <a href="https://www.instagram.com/sanof_engineers/" title="Instagram" class="FontSize14">
                            Instagram
                        </a>
                    </div>
                </div>
                <!--
                <div id="telegramLink" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="float: left">
                        <img src="{% static 'icons/telegram.png' %}" alt="Abadgaran Group telegram" title="Abadgaran Group telegram" />
                        <a href="" title="Telegram" class="FontSize14">
                            Telegram
                        </a>
                    </div>
                </div>

                <div id="LinkedInLink" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="float: left">
                        <img src="{% static 'icons/LinkedIn.png' %}" alt="Abadgaran Group LinkedIn" title="Abadgaran Group LinkedIn" />
                        <a href="" title="LinkedIn" class="FontSize14">
                            LinkedIn
                        </a>
                    </div>
                </div>
                <div id="Aparat" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="text-align: left;">
                        <img src="{% static 'icons/aparat_1.png' %}" alt="Abadgaran Group Aparat" title="Abadgaran Group Aparat" />
                        <a href="" title="Aparat" class="FontSize14">
                            Aparat
                        </a>
                    </div>
                </div>

                <div id="Youtube" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="text-align: left;">
                        <img src="{% static 'icons/Youtube_1.png' %}" alt="Abadgaran Group Youtube" title="Abadgaran Group Youtube" />
                        <a href="" title="Youtube" class="FontSize14">
                            Youtube
                        </a>
                    </div>
                </div>


                <div id="Google-plus" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="text-align: left;">
                        <img src="{% static 'icons/Google-Plus.png' %}" alt="Abadgaran Group Google plus" title="Abadgaran Group Google plus" />
                        <a href="" title="Google plus" class="FontSize14">
                            google+
                        </a>
                    </div>
                </div>
                -->
            </div>
        </div>


        <div id="" class="hidden-lg hidden-md hidden-sm col-xs-12 text-center">
            <div id="" class="col-xs-12 ContactPhoneBold" style="text-align: center;">
                <span class="glyphicon glyphicon-phone-alt FontSize22"></span>
                                ۰۸۷-۳۳۱۵۵۴۶۵
            </div>

            <div class="MarginTop15">

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/instagram.png' %}" alt="Abadgaran Group instagram" title="Abadgaran Group instagram" />
                        <a href="https://www.instagram.com/sanof_engineers/" title="Instagram" class="FontSize14">
                            Instagram
                        </a>
                    </div>
                </div>
                <!--
                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/telegram.png' %}" alt="Abadgaran Group telegram" title="Abadgaran Group telegram" />
                        <a href="" title="Telegram" class="FontSize14">
                            Telegram
                        </a>
                    </div>
                </div>

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/LinkedIn.png' %}" alt="Abadgaran Group LinkedIn" title="Abadgaran Group LinkedIn" />
                        <a href="" title="LinkedIn" class="FontSize14">
                            LinkedIn
                        </a>
                    </div>
                </div>

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/aparat_1.png' %}" alt="Abadgaran Group Aparat" title="Abadgaran Group Aparat" />
                        <a href="" title="Aparat" class="FontSize14">
                            Aparat
                        </a>
                    </div>
                </div>

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/Youtube_1.png' %}" alt="Abadgaran Group Youtube" title="Abadgaran Group Youtube" />
                        <a href="" title="Youtube" class="FontSize14">
                            Youtube
                        </a>
                    </div>
                </div>

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/Google-Plus.png' %}" alt="Abadgaran Group Google plus" title="Abadgaran Group Google plus" />
                        <a href="" title="Google plus" class="FontSize14">
                            google+
                        </a>
                    </div>
                </div>
                -->
            </div>
        </div>

        <div class="hidden-lg hidden-md hidden-sm col-xs-12 Horizontal-xsUserMenu-Divider MarginBottom10" style="margin-top: 50px;"></div>
        <div id="FooterCopyRight" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

            <div id="FooterSiteNav" class="col-lg-push-2 col-md-push-2 col-sm-push-1 col-lg-8 col-md-8 col-sm-10 col-xs-12">
                <div class="col-lg-push-2 col-md-push-2 col-sm-push-1 col-lg-8 col-md-8 col-sm-10 col-xs-12">

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right" style="direction: ltr">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="{% url 'sanof:products' %}">مـحصولات</a>
                            </div>
                            <div class="FooterNavDivider hidden-xs"></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="">خدمـات آنلاین</a>
                            </div>
                            <div class="FooterNavDivider hidden-xs"></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="{% url 'sanof:about' %}">درباره مـا</a>
                            </div>
                            <div class="FooterNavDivider hidden-xs"></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="{% url 'sanof:contact' %}">تمـاس با مـا</a>

                            </div>
                        </div>

                </div>
            </div>
            <div class="col-lg-push-2 col-md-push-2 col-lg-8 col-md-10 col-sm-12 col-xs-12 Horizontal-xsUserMenu-Divider MarginBottom10"></div>

            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="MarginTop15">
                    .تمام حقوق این وب سایت متعلق به شرکت فنی مهندسی SANOF میباشد<br />
                </div>
                <div class="MarginTop15">
                  <a href="https://www.pyngoweb.ir">pyngoweb.ir</a> طراحی و ساخت شرکت فنی مهندسی پینگووب<br />
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}

{% if LANGUAGE_CODE == 'ar' %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 CreatDistanceDiv"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Horizontal-xsUserMenu-Divider"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Horizontal-xsUserMenu-Divider"></div>
    <div id="SiteFooter" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


        <div id="FooterContactParent" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right text-right">

            <div id="FooterContactOffic" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right text-right">
                <div>

                    <div>
                        <span class="glyphicon glyphicon-info-sign IconFloatSetting FontSize18"></span>
                        <a href="{% url 'sanof:contact' %}">المكتب المركزي</a>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="ContactFieldBlock">
                            <span class="ContactDetailTitle"> تبوك </span>
                            
                       سنندج بوليفارد كوردستان بعد جسر مردوخ الى الثكنة بجانب مبنى بلدية سيما منزار مركز هندسة المواد
                        </div>

                        <br />
                        <div class="ContactFieldBlock">
                            <span class="ContactDetailTitle">هاتف </span>
                            <span>8716629565-098</span>
                        </div>

                        <br />
                        <div class="ContactFieldBlock">
                            sanofengineers82@gmail.com
                            <span class="ContactDetailTitle"> بريد الالكتروني</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <div id="FooterProductGroup" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right text-right">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right text-right">
                <div>
                    <span class="glyphicon glyphicon-info-sign IconFloatSetting FontSize18"></span>
                    بدأت المجموعة المذكورة أعلاه نشاطها في عام ۲۰۰۲ تحت اسم عيادة البناء الشامل - - مركز هندسة المواد (مورد لمعدات ومواد البناء الحديثة ، ويوفر المعرفة التقنية والخدمات التنفيذية) وفي عام ۲۰۱۱ مع إنشاء شركة سانوف المهندسين - شركة مساهمة خاصة ، أخذ الاعتماد على المعرفة والمرافق المتاحة خطوة نحو تنمية بلدنا الحبيب إيران ليكون لها دور صغير في هذا المجال.
                </div>
            </div>

            <div id="FooterProductGroupBody1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 FooterProductGroupBody pull-right text-right">
                
            </div>
        </div>

       

        <div class="hidden-lg hidden-md hidden-sm" style="height: 25px; width: 100%;"></div>

        <div id="SocialNetworkLogo" class="col-lg-4 col-md-4 col-sm-12 hidden-xs   pull-right text-right">

            <div id="" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ContactPhoneBold">
                <span class=""></span>
                +98-8733155465
            </div>

            <div style="margin-top: 15px;">
                <div id="instagramLink" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="float: left">
                        <img src="{% static 'icons/instagram.png' %}" alt="Abadgaran Group instagram" title="Abadgaran Group instagram" />
                        <a href="https://www.instagram.com/sanof_engineers/" title="Instagram" class="FontSize14">
                            Instagram
                        </a>
                    </div>
                </div>
                <!--
                <div id="telegramLink" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="float: left">
                        <img src="{% static 'icons/telegram.png' %}" alt="Abadgaran Group telegram" title="Abadgaran Group telegram" />
                        <a href="" title="Telegram" class="FontSize14">
                            Telegram
                        </a>
                    </div>
                </div>

                <div id="LinkedInLink" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="float: left">
                        <img src="{% static 'icons/LinkedIn.png' %}" alt="Abadgaran Group LinkedIn" title="Abadgaran Group LinkedIn" />
                        <a href="" title="LinkedIn" class="FontSize14">
                            LinkedIn
                        </a>
                    </div>
                </div>
                <div id="Aparat" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="text-align: left;">
                        <img src="{% static 'icons/aparat_1.png' %}" alt="Abadgaran Group Aparat" title="Abadgaran Group Aparat" />
                        <a href="" title="Aparat" class="FontSize14">
                            Aparat
                        </a>
                    </div>
                </div>

                <div id="Youtube" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="text-align: left;">
                        <img src="{% static 'icons/Youtube_1.png' %}" alt="Abadgaran Group Youtube" title="Abadgaran Group Youtube" />
                        <a href="" title="Youtube" class="FontSize14">
                            Youtube
                        </a>
                    </div>
                </div>


                <div id="Google-plus" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="text-align: left;">
                        <img src="{% static 'icons/Google-Plus.png' %}" alt="Abadgaran Group Google plus" title="Abadgaran Group Google plus" />
                        <a href="" title="Google plus" class="FontSize14">
                            google+
                        </a>
                    </div>
                </div>
                -->
            </div>
        </div>


        <div id="" class="hidden-lg hidden-md hidden-sm col-xs-12 text-center">
            <div id="" class="col-xs-12 ContactPhoneBold" style="text-align: center;">
                <span class="glyphicon glyphicon-phone-alt FontSize22"></span>
                 +98-8733155465
            </div>

            <div class="MarginTop15">

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/instagram.png' %}" alt="Abadgaran Group instagram" title="Abadgaran Group instagram" />
                        <a href="https://www.instagram.com/sanof_engineers/" title="Instagram" class="FontSize14">
                            Instagram
                        </a>
                    </div>
                </div>
                <!--
                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/telegram.png' %}" alt="Abadgaran Group telegram" title="Abadgaran Group telegram" />
                        <a href="" title="Telegram" class="FontSize14">
                            Telegram
                        </a>
                    </div>
                </div>

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/LinkedIn.png' %}" alt="Abadgaran Group LinkedIn" title="Abadgaran Group LinkedIn" />
                        <a href="" title="LinkedIn" class="FontSize14">
                            LinkedIn
                        </a>
                    </div>
                </div>

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/aparat_1.png' %}" alt="Abadgaran Group Aparat" title="Abadgaran Group Aparat" />
                        <a href="" title="Aparat" class="FontSize14">
                            Aparat
                        </a>
                    </div>
                </div>

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/Youtube_1.png' %}" alt="Abadgaran Group Youtube" title="Abadgaran Group Youtube" />
                        <a href="" title="Youtube" class="FontSize14">
                            Youtube
                        </a>
                    </div>
                </div>

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/Google-Plus.png' %}" alt="Abadgaran Group Google plus" title="Abadgaran Group Google plus" />
                        <a href="" title="Google plus" class="FontSize14">
                            google+
                        </a>
                    </div>
                </div>
                -->
            </div>
        </div>

        <div class="hidden-lg hidden-md hidden-sm col-xs-12 Horizontal-xsUserMenu-Divider MarginBottom10" style="margin-top: 50px;"></div>
        <div id="FooterCopyRight" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

            <div id="FooterSiteNav" class="col-lg-push-2 col-md-push-2 col-sm-push-1 col-lg-8 col-md-8 col-sm-10 col-xs-12">
                <div class="col-lg-push-2 col-md-push-2 col-sm-push-1 col-lg-8 col-md-8 col-sm-10 col-xs-12">

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right" style="direction: ltr">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="{% url 'sanof:products' %}">منتجات</a>
                            </div>
                            <div class="FooterNavDivider hidden-xs"></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="">خدمات عبر الانترنت</a>
                            </div>
                            <div class="FooterNavDivider hidden-xs"></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="{% url 'sanof:about' %}">معلومات عنا</a>
                            </div>
                            <div class="FooterNavDivider hidden-xs"></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="{% url 'sanof:contact' %}">اتصل بنا</a>

                            </div>
                        </div>

                </div>
            </div>
            <div class="col-lg-push-2 col-md-push-2 col-lg-8 col-md-10 col-sm-12 col-xs-12 Horizontal-xsUserMenu-Divider MarginBottom10"></div>

            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="MarginTop15">
                    جميع حقوق هذا الموقع مملوكة لشركة SANOF الهندسية                
                </div>
                <div class="MarginTop15">
                  <a href="https://www.pyngoweb.ir">pyngoweb.ir</a> تصميم وإنشاء شركة Pingoob الهندسية الفنية<br />
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}

{% if LANGUAGE_CODE == 'en' %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 CreatDistanceDiv"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Horizontal-xsUserMenu-Divider"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Horizontal-xsUserMenu-Divider"></div>
    <div id="SiteFooter" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


        <div id="FooterContactParent" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-left text-left">

            <div id="FooterContactOffic" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left text-left">
                <div>

                    <div>
                        <span class="glyphicon glyphicon-info-sign IconFloatSetting FontSize18"></span>
                        <a href="{% url 'sanof:contact' %}">central office</a>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="ContactFieldBlock">
                            <span class="ContactDetailTitle"> Address </span>
                            Sanandaj, Kurdistan Boulevard, after Marduk Bridge to the barracks, next to Sima Manzar Municipality building, Materials Engineering Center
                        </div>

                        <br />
                        <div class="ContactFieldBlock">
                            <span class="ContactDetailTitle"> Phone</span>
                            <span>+98-8716629565</span>
                        </div>

                        <br />
                        <div class="ContactFieldBlock">
                            <span class="ContactDetailTitle">E-mail</span>
                            sanofengineers82@gmail.com

                        </div>
                    </div>
                </div>
            </div>
            
        </div>


        <div id="FooterProductGroup" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-left text-left">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left text-left">
                <div>
                    <span class="glyphicon glyphicon-info-sign IconFloatSetting FontSize18"></span>
                    The above group started its activity in 2002 under the name of Inclusive Construction Clinic - Materials Engineering Center (supplier of modern construction equipment and materials, providing technical knowledge and executive services) and in 2011 with the establishment of Sanof Engineers Company - Private Joint Stock, relying on Knowledge and available facilities took a step towards the development of our beloved country Iran to have a small role in this field.
                </div>
            </div>

            <div id="FooterProductGroupBody1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 FooterProductGroupBody pull-left text-left">

            </div>
        </div>

       

        <div class="hidden-lg hidden-md hidden-sm" style="height: 25px; width: 100%;"></div>

        <div id="SocialNetworkLogo" class="col-lg-4 col-md-4 col-sm-12 hidden-xs   pull-left text-left">

            <div id="" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ContactPhoneBold">
                <span class=""></span>
                +98-8733155465
            </div>

            <div style="margin-top: 15px;">
                <div id="instagramLink" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="float: left">
                        <img src="{% static 'icons/instagram.png' %}" alt="Abadgaran Group instagram" title="Abadgaran Group instagram" />
                        <a href="https://www.instagram.com/sanof_engineers/" title="Instagram" class="FontSize14">
                            Instagram
                        </a>
                    </div>
                </div>
                <!--
                <div id="telegramLink" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="float: left">
                        <img src="{% static 'icons/telegram.png' %}" alt="Abadgaran Group telegram" title="Abadgaran Group telegram" />
                        <a href="" title="Telegram" class="FontSize14">
                            Telegram
                        </a>
                    </div>
                </div>

                <div id="LinkedInLink" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="float: left">
                        <img src="{% static 'icons/LinkedIn.png' %}" alt="Abadgaran Group LinkedIn" title="Abadgaran Group LinkedIn" />
                        <a href="" title="LinkedIn" class="FontSize14">
                            LinkedIn
                        </a>
                    </div>
                </div>
                <div id="Aparat" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="text-align: left;">
                        <img src="{% static 'icons/aparat_1.png' %}" alt="Abadgaran Group Aparat" title="Abadgaran Group Aparat" />
                        <a href="" title="Aparat" class="FontSize14">
                            Aparat
                        </a>
                    </div>
                </div>

                <div id="Youtube" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="text-align: left;">
                        <img src="{% static 'icons/Youtube_1.png' %}" alt="Abadgaran Group Youtube" title="Abadgaran Group Youtube" />
                        <a href="" title="Youtube" class="FontSize14">
                            Youtube
                        </a>
                    </div>
                </div>


                <div id="Google-plus" class="col-lg-10 col-md-10 col-sm-10 col-xs-10  SocialNetworkLogo">
                    <div style="text-align: left;">
                        <img src="{% static 'icons/Google-Plus.png' %}" alt="Abadgaran Group Google plus" title="Abadgaran Group Google plus" />
                        <a href="" title="Google plus" class="FontSize14">
                            google+
                        </a>
                    </div>
                </div>
                -->
            </div>
        </div>


        <div id="" class="hidden-lg hidden-md hidden-sm col-xs-12 text-center">
            <div id="" class="col-xs-12 ContactPhoneBold" style="text-align: center;">
                <span class="glyphicon glyphicon-phone-alt FontSize22"></span>
               +98-8733155465
            </div>

            <div class="MarginTop15">

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/instagram.png' %}" alt="Abadgaran Group instagram" title="Abadgaran Group instagram" />
                        <a href="https://www.instagram.com/sanof_engineers/" title="Instagram" class="FontSize14">
                            Instagram
                        </a>
                    </div>
                </div>
                <!--
                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/telegram.png' %}" alt="Abadgaran Group telegram" title="Abadgaran Group telegram" />
                        <a href="" title="Telegram" class="FontSize14">
                            Telegram
                        </a>
                    </div>
                </div>

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/LinkedIn.png' %}" alt="Abadgaran Group LinkedIn" title="Abadgaran Group LinkedIn" />
                        <a href="" title="LinkedIn" class="FontSize14">
                            LinkedIn
                        </a>
                    </div>
                </div>

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/aparat_1.png' %}" alt="Abadgaran Group Aparat" title="Abadgaran Group Aparat" />
                        <a href="" title="Aparat" class="FontSize14">
                            Aparat
                        </a>
                    </div>
                </div>

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/Youtube_1.png' %}" alt="Abadgaran Group Youtube" title="Abadgaran Group Youtube" />
                        <a href="" title="Youtube" class="FontSize14">
                            Youtube
                        </a>
                    </div>
                </div>

                <div id="" class="col-xs-12 SocialNetworkLogo text-center">
                    <div style="text-align: center;">
                        <img src="{% static 'icons/Google-Plus.png' %}" alt="Abadgaran Group Google plus" title="Abadgaran Group Google plus" />
                        <a href="" title="Google plus" class="FontSize14">
                            google+
                        </a>
                    </div>
                </div>
                -->
            </div>
        </div>

        <div class="hidden-lg hidden-md hidden-sm col-xs-12 Horizontal-xsUserMenu-Divider MarginBottom10" style="margin-top: 50px;"></div>
        <div id="FooterCopyLeft" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

            <div id="FooterSiteNav" class="col-lg-push-2 col-md-push-2 col-sm-push-1 col-lg-8 col-md-8 col-sm-10 col-xs-12">
                <div class="col-lg-push-2 col-md-push-2 col-sm-push-1 col-lg-8 col-md-8 col-sm-10 col-xs-12">

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-left" style="direction: ltr">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="{% url 'sanof:products' %}"></a>
                            </div>
                            <div class="FooterNavDivider hidden-xs">Products</div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="">Online services</a>
                            </div>
                            <div class="FooterNavDivider hidden-xs"></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="{% url 'sanof:about' %}">About us</a>
                            </div>
                            <div class="FooterNavDivider hidden-xs"></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="{% url 'sanof:contact' %}">Contact us</a>
                            </div>
                            <div class="FooterNavDivider hidden-xs"></div>

                        </div>

                </div>
            </div>
            <div class="col-lg-push-2 col-md-push-2 col-lg-8 col-md-10 col-sm-12 col-xs-12 Horizontal-xsUserMenu-Divider MarginBottom10"></div>

            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="MarginTop15">
                    All rights of this website belong to SANOF Engineering Company
                </div>
                <div class="MarginTop15">
                  Design and construction of Pingoob Engineering Technical Company <a href="https://www.pyngoweb.ir">pyngoweb.ir</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}
