{% extends 'base.html' %}
{% load static %}

{% block hreflang %}en{% endblock %} {% block lang %}en{% endblock %}

{% block title %}About us{% endblock %}

{% block meta_description %}+988733155465 Page About Website Sanof Engineering Company Established in 2003 based in Iran Office contact number{% endblock meta_description %}
{% block meta_keywords %}about page of Sanof Technical Engineering Company Production, trade, technical engineering of bolt and armature planting, cross section increase, increase of infrastructure, construction of terrace, elimination of design and executive weaknesses, sanof, Sanof, Sanof Engineering Technical Company, ready concrete, Sanandaj fortifications, Concreting, building and concreting, Sanandaj concrete{% endblock meta_keywords %}

{% block body %}
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %|">Home</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:about' %}"> About us</a>
    </div>


</div>
<div class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 MainContentBody MarginTop25">
    <div id="AboutCompanyTitleBox" class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
        <span class="glyphicon glyphicon-stop IconFloatSetting AboutCompany_Class2"></span>
        Derbara Company Technician Engineers SANOF
    </div>

    <div id="AboutCompanyBox" class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div id="AboutCompanyText" class="col-lg-12 col-md-12 col-sm-12">
            <p><font style="background-color: rgb(255, 255, 255);"> 
                Synthesis of Imran and Shemi rah ur pisherfath trin fun awry rosdania dar sanat sakht and saz Ardah Kandeh Sachtmani Noin Supplies and Interests A group above the activities of Khoud Radar Sal 2002 under the title of Clinic Sakhtmani Fragir - Center for Engineers interests 2011, Danish technical opinions and procedural services) Initiated by the 89 Nomoud and Darsal activities, with the establishment of a private Sanof-Sahami engineer company, based on Danish and existing capabilities. This is the time for the activities of Sanov's Mohandeseen Group
            </font></p>

            <p><font style="background-color: rgb(255, 255, 255);"></p>
               
Readings, Tarahi, consultation, directorate, events, Najhdari, reconstructions, Bahra Bardari, Sakhat, Bahina Sazi, Bazzazi and the conduct of the College of Amour, linked to Imran - Equipment and Establishments, Rah Andazzi Sanayeh - Nazeeha - Nairouzha - Nairouzha - Lines - Nairouzha Gas, lightning and ...) - Baziavt system stores - Mechanical and hydromechanical establishments - Shahrak Sazi - Marmath and revived historical buildings - Resist Sazi - Discovery and extraction of minerals
            </font></p>
            • Amor connected to Saze Ha Abe: Damha, Bandha, Sarrez, Tonlehai, Ab deviation, Layrubi and Rodkhaneh trajectory, lines and Kanal Transit Ab and Fazlab, Sakhtman Nerogah Abe, Skohai Nefti, Istgah Haeza Hajee Abezhap and Fazalabad. Shekan, high-hydro-mechanical space, high-app filtering and Fadellab, stores and high-app distribution network, Uri collection network and Fadellab transmission
            • Amour connected to Niruga: Paying Sanati stores, Coil exchanger, Boiler, Stretcher (Sakhtar), Sola and...
            • Amor connected to Saze Ha Abe: Damha, Bandha, Sarrez, Tonlehai, Ab deviation, Layrubi and Rodkhaneh trajectory, lines and Kanal Transit Ab and Fazlab, Sakhtman Nerogah Abe, Skohai Nefti, Istgah Haeza Hajee Abezhap and Fazalabad. Shekan, high-hydro-mechanical space, high-app filtering and Fadellab, stores and high-app distribution network, Uri collection network and Fadellab transmission
            • Matters linked to Rah: Rahsazy, Rahdari, Gardrel Bundy, the buildings of a technician, the appropriate points of Khiz, the vehicular mechanics of Khak and resistance to interests, and Azmayeshgahi is linked, Rahai Rili, پl, Frodgah, Band
            ▪ Executor of mass production projects
            ▪ Collaborator of dam and power plant projects
            ▪ Trane Mosque, a center for engineers interests
            ▪ Grilled meatballs
            ▪ Grilled meatballs
            ▪ Namayeshgah Daemi Sakhtmani Roz Dunya Services and Equipment
            ▪ Generate and sell supplies, supplies and services of Rahsazy Machinery Machinery
            ▪ UPVC Dergharb Kashour
            <p><font style="background-color: rgb(255, 255, 255);">
               

What is UPVC?
Upvc is the raw material for making door and window profiles, which consists of the abbreviation Unplasticized Poly Vinyl Chloride. This material is a type of modern thermoplastic and consists of the main derivatives of crude oil and salt.
In the UPVC production process by adding different materials such as:
Impact Modifier
Heat Stabilizers
Fillers
Processing Aids
Internal & External Labricants
Pigment
By combining the above materials with PVC powder, a material (UPVC) is obtained, which is a new combination of PVC raw material, but due to the different physical properties of this new material, it is called a non-plastic material.
Advantages of using UPVC doors and windows
No need for paint
Quick and easy installation
Easy maintenance and cleaning
Has a long useful life
Sound, heat and cold insulation
Resistant to rot and rust
High flexibility and variety in construction
Unemployed in case of fire
Energy savings of up to 40%
Resistant to wind, dust, water and rain
            </font></p>

            <p><font style="background-color: rgb(255, 255, 255);"></font></p>

            <p><font style="background-color: rgb(255, 255, 255);">

            </font></p>
        </div>

    </div>
</div>
{% endblock %}