{% extends 'base.html' %}
{% load static %}

{% block hreflang %}fa-ir{% endblock %} {% block lang %}fa{% endblock %}

{% block title %} درباره ما {% endblock %}

{% block meta_description %}+988733155465 صفحه درباره وبسابت شرکت فنی مهندسی سانوف تاسیس ۱۳۸۲ مستقر در ایران شماره تماس دفتری{% endblock meta_description %}
{% block meta_keywords %}sanof, درباره صفحه شرکت فنی مهندسی سانوف تولید، بازرگانی، فنی مهندسی کاشت بولت و آرمیچر، افزایش سطح مقطع، افزایش زیرساخت، ساخت تراس، رفع نقاط ضعف طراحی و اجرایی، سانوف، سانوف، شرکت فنی مهندسی سانوف، بتن آماده، استحکامات سنندج، بتن ریزی، ساختمان و بتن ریزی، بتن سنندج {% endblock meta_keywords %}

{% block body %}
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">صفحه اصلی</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:about' %}">درباره ما</a>
    </div>


</div>
<div class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 MainContentBody MarginTop25">
    <div id="AboutCompanyTitleBox" class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
        <span class="glyphicon glyphicon-stop IconFloatSetting AboutCompany_Class2"></span>
        SANOF درباره شرکت فنی مهندسی
    </div>

    <div id="AboutCompanyBox" class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div id="AboutCompanyText" class="col-lg-12 col-md-12 col-sm-12">
            <p><font style="background-color: rgb(255, 255, 255);"> 
                تلفیقی ازمهندسی عمران وشیمی ره آورد پیشرفته ترین فن آوری روزدنیا درصنعت ساخت وساز عرضه کننده تجهیزات ومصالح ساختمانی نوین ، ارائه دانش فنی وخدمات اجرایی مجموعه فوق فعالیت خود را در سال 80 تحت عنوان کلینیک ساختمانی فراگیر- مرکز مهندسی مصالح (عرضه کننده تجهیزات ومصالح ساختمانی روز دنیا ، ارائه دانش فنی وخدمات اجرایی) شروع به فعالیت نمود ودرسال 89 با تاسیس شرکت مهندسین سانوف – سهامی خاص ،با اتکا به دانش وامکانات موجود قدم در راه عمران وآبادانی کشورعزیزمان ایران برداشت تا سهمی هرچند کوچک در این زمینه داشته باشد . زمینه های فعالیت مجموعه شرکت مهندسین سانوف
            </font></p>

            <p><font style="background-color: rgb(255, 255, 255);"></p>
                مطالعات ، طراحی ، مشاوره ، مدیریت ، احداث ، نگهداری ، تعمییرات ، بهره برداری ، ساخت ، بهینه سازی ، بازسازی واجرای کلیه امورمربوط به عمران – تجهیزات وتاسیسات راه اندازی صنایع – نیروگاهها – سازه های آبی – پالایشگاهها – پتروشیمی – خطوط انتقال (آب ، گاز ، برق و...) – مخازن سیستمهای بازیافت – تاسیسات مکانیکی وهیدرومکانیکی – شهرک سازی – مرمت واحیای بناهای تاریخی – مقاوم سازی – اکتشاف واستخراج معادن

                • امورمربوط به نیروگاه : مخازن پایپینگ صنعتی ، مبدل کویل ، بویلر ، استراکچر(ساختار) ، سوله و...
                • امورمربوط به سازه های آبی : سدها ، بندها ، سرریز ، تونلهای انحراف آب ، لایروبی وانحراف مسیر رودخانه ، خطوط وکانال انتقال آب وفاضلاب ، ساختمان نیروگاه آبی ، سکوهای نفتی ، ایستگاه های پمپاژ آب وفاضلاب ، زهکشی سازه های دریائی وساحلی موج شکن ، سازه های هیدرو مکانیکی ، تصفیه خانه های آب وفاضلاب ، مخازن وشبکه های توزیع آب ، شبکه جمع آوری وانتقال فاضلاب
                • امور مربوط به راه : راهسازی ، راهداری ، گاردریل بندی ، ابنیه فنی نقاط سانحه خیز ، ژئوتکنیک مکانیک خاک ومقاومت مصالح وآزمایشگاههای مربوطه ، راههای ریلی ، پل ، تونل ، باند فرودگاه
                ▪ مجری پروژه های انبوه سازی
                ▪ همکار پروژه های سد ونیروگاه
                ▪ جامع ترین مرکز مهندسی مصالح
                ▪ مشاورومجری پروژه های مقاوم سازی
                ▪ مشاورومجری پروژه های ایزولاسیون وآببندی
                ▪ نمایشگاه دایمی مصالح وتجهیزات ساختمانی روز دنیا
                ▪ تولید وارائه لوازم ، تجهیزات و خدمات ماشین آلات راهسازی
                ▪ بزرگترین تولید کننده پنجره های دوجداره UPVC درغرب کشور
            </font></p>

            <p><font style="background-color: rgb(255, 255, 255);">
                UPVC چیست ؟
                Upvc ماده اولیه ساخت پروفیل درب وپنجره هایی می باشد که از مخفف کلمات Unplasticized Poly Vinyl Chloride تشکیل شده است . این ماده یک نوع ترمو پلاست مدرن ومتشکل از مشتقات اصلی نفت خام و نمک طعام است .
                در فرایند تولید UPVC با افزودن مواد مختلفی چون :
                ضربه گیرها
                مواداستحکام بخش در برابرحرارت دربلندمدت
                پرکننده ها
                کمک کننده ها
                روان کننده های داخلی وخارجی
                رنگ های طبیعی
                با ترکیب ماده های فوق با پودر PVC ، ماده (UPVC) بدست می آید که ترکیب جدیدی ازماده اولیه PVC بوده ولی به علت خواص فیزیکی متفاوت این ماده جدید ، اصطلاحاً به آن یک ماده غیر پلاستیک اطلاق می شود.
                مزایای استفاده ازدرب وپنجره های UPVC
                عدم نیازبه رنگ
                نصب سریع وآسان
                نگهداری ونظافت آسان
                دارای عمرمفید طولانی
                عایق صوت ،حرارت وبرودت
                مقاوم دربرابر پوسیدگی وزنگ زدگی
                قابلیت بالای انعطاف و تنوع در ساخت
                غیرقابل اشتغال درمواقع بروزآتش سوزی
                صرفه جویی درمصرف انرژی تا 40 درصد
                مقاوم دربرابرنفوذ باد،گردوغبار،آب وباران به داخل
            </font></p>

            <p><font style="background-color: rgb(255, 255, 255);"></font></p>

            <p><font style="background-color: rgb(255, 255, 255);">

            </font></p>
        </div>

    </div>
</div>
{% endblock %}
