{% extends 'base.html' %}
{% load static %}
{% block hreflang %}ar{% endblock %} {% block lang %}ar{% endblock %}

{% block title %} معلومات عنا{% endblock %}

{% block meta_description %}+988733155465 صفحة حول الموقع الإلكتروني شركة سانوف الهندسية تأسست عام 2003 ومقرها في إيران رقم الاتصال بمكتبها{% endblock meta_description %}
{% block meta_keyword
{% block body %}
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">صفحه الرئيسية</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:about' %}"> حول الشركة</a>
    </div>
</div>
<div class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 MainContentBody MarginTop25">
    <div id="AboutCompanyTitleBox" class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
        <span class="glyphicon glyphicon-stop IconFloatSetting AboutCompany_Class2"></span>
        SANOF  عن الشركة الهندسية الفنية 

    </div>

    <div id="AboutCompanyBox" class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div id="AboutCompanyText" class="col-lg-12 col-md-12 col-sm-12">
            <p><font style="background-color: rgb(255, 255, 255);"> 
                مزيج من الهندسة المدنية والكيميائية نتيجة لأحدث التقنيات في العالم في صناعة البناء والتشييد مورد معدات ومواد البناء الجديدة ، وتوفير المعرفة التقنية والخدمات التنفيذية بدأ المجمع أعلاه نشاطه في عام ۲۰۰۲ تحت عنوان عيادة البناء الشاملة - مركز هندسة المواد (مورد لمعدات ومواد البناء الحديثة ، تقديم المعرفة التقنية والخدمات التنفيذية) بدأت أنشطتها وفي عام ۲۰۱۱ ، مع إنشاء شركة Sanov Engineers - شركة مساهمة خاصة ، بالاعتماد على المعرفة والتسهيلات الحالية ، اتخذت خطوة نحو تطوير بلدنا الحبيب إيران ليكون لديها شركة صغيرة حصة في هذا المجال. مجالات نشاط شركة سانوف انجينيرز
            </font></p>

            <p><font style="background-color: rgb(255, 255, 255);"></p>
                ￼
الدراسات والتصميم والاستشارات والإدارة والبناء والصيانة والإصلاحات والتشغيل والبناء والتحسين وإعادة الإعمار وتنفيذ جميع الأمور المتعلقة بالهندسة المدنية - المعدات والمرافق لإطلاق الصناعات - محطات الطاقة - الهياكل الهيدروليكية - المصافي - البتروكيماويات - خطوط النقل (ماء ، غاز ، كهرباء ...
            </font></p>

            <p><font style="background-color: rgb(255, 255, 255);">
                • شؤون محطات الطاقة: خزانات الأنابيب الصناعية ، محولات الملفات ، الغلايات ، الهياكل ، الحظائر ، إلخ.
                • الشؤون المتعلقة بالهياكل المائية: السدود ، السدود ، الفيضانات ، أنفاق التحويل ، تجريف وتحويل الأنهار ، خطوط وقنوات نقل المياه والصرف الصحي ، محطات الطاقة الكهرومائية ، منصات البترول ، محطات ضخ المياه والصرف الصحي ، تصريف المياه البحرية والساحلية الهياكل القواطع والهياكل الهيدروليكية والميكانيكية ومحطات معالجة المياه والصرف الصحي والخزانات وشبكات توزيع المياه وشبكة تجميع وتحويل مياه الصرف الصحي
                • امور مربوط به راه : راهسازی ، راهداری ، گاردریل بندی ، ابنیه فنی نقاط سانحه خیز ، ژئوتکنیک مکانیک خاک ومقاومت مصالح وآزمایشگاههای مربوطه ، راههای ریلی ، پل ، تونل ، باند فرودگاه
                ▪ المنفذ لمشاريع الإنتاج الضخم
                ▪ شريك في مشاريع السدود ومحطات الطاقة
                ▪ ترین أشمل مركز هندسة المواد
                ▪ مستشار ومنفذ مشاريع التعديل التحديثي
                ▪ استشاري ومنفذ مشاريع العزل والختم
                ▪ المعرض الدائم لمواد ومعدات البناء العالمية
                ▪ إنتاج وتوريد الإمدادات والمعدات والخدمات لآلات بناء الطرق
                ▪ أكبر مُصنِّع للنوافذ ذات الزجاج المزدوج UPVC في غرب البلاد
            </font></p>

            <p><font style="background-color: rgb(255, 255, 255);">
                ما هو الـ UPVC؟
                مادة Upvc هي المادة الخام المستخدمة في صناعة مقاطع الأبواب والنوافذ ، والتي تتكون من الكلمات غير البلاستيكية بولي فينيل كلوريد. هذه المادة هي نوع من اللدائن الحرارية الحديثة وتتكون من المشتقات الرئيسية للنفط الخام والملح.
                في عملية إنتاج الـ UPVC بإضافة مواد مختلفة مثل:
                مصدات
                مادة مثبتة للحرارة على المدى الطويل
                الحشو
                المتبرعين
                المزلقات الداخلية والخارجية
                ألوان طبيعية
                من خلال دمج المواد المذكورة أعلاه مع مسحوق PVC ، يتم الحصول على مادة (UPVC) ، وهي مزيج جديد من مادة PVC الخام ، ولكن نظرًا للخصائص الفيزيائية المختلفة لهذه المادة الجديدة ، فإنها تسمى مادة غير بلاستيكية.
                مزايا استخدام أبواب ونوافذ UPVC
                لا حاجة للطلاء
                تركيب سريع وسهل
                سهولة الصيانة والتنظيف
                لها عمر مفيد طويل
                عزل الصوت والحرارة والبرودة
                مقاومة للصدأ والصدأ
                مرونة عالية وتنوع في البناء
                عاطل عن العمل في حالة نشوب حريق
                توفير في الطاقة يصل إلى ۴۰
                مقاوم للرياح والغبار والماء والمطر
            
            </font></p>

            <p><font style="background-color: rgb(255, 255, 255);">

            </font></p>
        </div>

    </div>
</div>
{% endblock %}
