{% extends 'base.html' %}
{% load static %}

{% block hreflang %}en{% endblock %} {% block lang %}en{% endblock %}

{% block title %} Home {% endblock %}

{% block meta_description %}Home page of Sanof Technical Engineering Company, manufacturing, trading, technical engineering of bolt and armature planting, increasing the cross section, increasing the infrastructure, creating a terrace, eliminating design and executive weaknesses {% endblock meta_description %}
{% block meta_keywords %}Home page of Sanof Technical Engineering Company Production, trade, technical engineering of bolt and armature planting, cross section increase, increase of infrastructure, construction of terrace, elimination of design and executive weaknesses, sanof, Sanof, Sanof Engineering Technical Company, ready concrete, Sanandaj fortifications, Concreting, building and concreting, Sanandaj concrete{% endblock meta_keywords %}

{% block body %}
<style>
    #uploadImageLink:hover { text-decoration: none; }
</style>

<div class="row Index_Class1">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Index_Class2">

        <div id="carousel-example-generic" class="carousel " data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
               
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">

                    <img src="{% static 'images/slider-1.png' %}" class="img-responsive" alt="sanof">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

                            
                            
                            <br />
                            
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="{% static 'images/slider-2.png' %}" class="img-responsive" alt="sanof">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

                         
                        </div>
                    </div><!-- /header-text -->
                </div>
               
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div><!-- /carousel -->
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Index_Class5">
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 pull-left AboutAbadgaranInHomePage">
        <div>

            <h1 style="font-size: 22px">
                    <span class="glyphicon glyphicon-ok-sign IconFloatSetting"></span>
                     About Engineering Technical Company SANOF
                </h1>

        </div>
        <p>
            The above group started its activity in 2002 under the name of Inclusive Construction Clinic - Materials Engineering Center (supplier of modern construction equipment and materials, providing technical knowledge and executive services) and in 2011 with the establishment of Sanof Engineers Company - Private Joint Stock, relying on Knowledge and available facilities took a step towards the development of our beloved country Iran to have a small role in this field.
            <a href="{% url 'sanof:about' %}">Learn more about this ...</a>
        </p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left AboutAbadgaranInHomePageInAnotherPage">
        <div>

            <h4>
                <span class="glyphicon glyphicon-ok-sign IconFloatSettingReverse" style="font-size: 22px;"></span>
                SANOF درباره شرکت فنی مهندسی 
            </h4>
        </div>
        <p>
            مجموعه فوق فعالیت خود را در سال 80 تحت عنوان کلینیک ساختمانی فراگیر- مرکز مهندسی مصالح (عرضه کننده تجهیزات ومصالح ساختمانی روز دنیا ، ارائه دانش فنی وخدمات اجرایی) شروع به فعالیت نمود
            <a href="{% url 'sanof:about' %}">see more ...</a>
        </p>
    </div>

    <div class="FirstPageContentBlock">


        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 FirstPageGrayBox">
                <img src="{% static 'images/products.png' %}" style="width:100%; height:200px" class="img-responsive Index_Class6" alt="  Products  " title="Products "/>
                <div class="GrayBoxLink">
                    <h2 class="FontSize16">
                        <span class="glyphicon glyphicon-qrcode IconFloatSetting"></span>
                        <a href="{% url 'sanof:all_categories' %}" >   Products </a>
                    </h2>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 FirstPageGrayBox">
                <img src="{% static 'images/news.png' %}" style="width:100%; height:200px" class="img-responsive Index_Class6" alt=" News and events" title=" News and events"/>
                <div class="GrayBoxLink">
                    <h2 class="FontSize16">
                        <span class="glyphicon glyphicon-globe IconFloatSetting"></span>
                        <a href="{% url 'sanof:newses' %}"> News and events</a>
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 FirstPageGrayBox">
                <img src="{% static 'images/certificate.png' %}" style="width:100%; height:200px" class="img-responsive Index_Class6" alt=" Standards and certificates" title=" Standards and certificates"/>
                <div class="GrayBoxLink">
                    <h2 class="FontSize16">
                        <span class="glyphicon glyphicon-certificate IconFloatSetting"></span>
                        <a href="{% url 'sanof:category_certificate' %}">  Standards and certificates</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="FirstPageContentBlock">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 FirstPageGrayBox">
                <img src="{% static 'images/slider_4.png' %}" style="width:100%; height:200px" class="img-responsive Index_Class6" alt=" Technical and engineering articles" title=" Technical and engineering articles"/>
                <div class="GrayBoxLink">
                    <h3 class="FontSize16">
                        <span class="glyphicon glyphicon-paperclip IconFloatSetting"></span>
                        <a href="{% url 'sanof:sliders' %}"> Technical and engineering articles</a>
                    </h3>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 FirstPageGrayBox">
                <img src="{% static 'images/portfolio.png' %}" style="width:100%; height:200px" class="img-responsive Index_Class6" alt=" Completed and ongoing projects" title=" Completed and ongoing projects"/>
                <div class="GrayBoxLink">
                    <h3 class="FontSize16">
                        <span class="glyphicon glyphicon-cog IconFloatSetting"></span>
                        <a href="{% url 'sanof:portfolios' %}"> Completed and ongoing projects</a>
                    </h3>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 FirstPageGrayBox">
                <img src="{% static 'images/services.png' %}" style="width:100%; height:200px" class="img-responsive Index_Class6" alt=" Services" title=" Services"/>
                <div class="GrayBoxLink">
                    <h3 class="FontSize16">
                        <span class="glyphicon glyphicon-blackboard IconFloatSetting"></span>
                        <a href="{% url 'sanof:services' %}"> Services</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% for qst in questions %}
<div id=RepetitveQuestion2 class="col-lg-10 col-md-10  col-lg-pull-1 col-md-pull-1 col-sm-12 col-xs-12 pull-right RepetitveQuestionBox">
    <div id=RepetitveQuestionBox2 class="DisplayRepetitveQuestionBox  col-lg-12 col-md-12 col-sm-12 col-xs-12  pull-right">
        <div class="RepetitveQuestion">
            {{ qst.question_en }}
            <span class="glyphicon glyphicon-question-sign IconFloatSetting FontSize18"></span>
        </div>
        <br/>
        <div class="RepetitveAnswer pull-left ">

            {{ qst.answer_en|safe }}
        </div>
    </div> <br>
</div>
{% endfor %}

</div>

{% endblock %}
