{% extends 'base.html' %}
{% load jalali_tags %}
{% load static %}

{% block hreflang %}fa-ir{% endblock %} {% block lang %}fa{% endblock %}

{% load change_character %}

{% block title %}
        {% if slider %} مقالات
        {% elif newse %} اخبار
        {% elif certificate %} قراردادها
        {% elif category %} دسته بندی
        {% elif service %} خدمات
        {% elif product %} محصولات
        {% elif portfolio %} نمونه کارها
        {% elif all_message %} پیغام ها
        {% elif all_category %} دسته بندی محصولات
        {% endif %}
{% endblock %}

{% block meta_description %}صفحه خانه وبسابت شرکت فنی مهندسی سانوف تولیدی، بازرگانی، فنی مهندسی کاشت بولت و آرماتور، افزایش مقطع، افزایش زیر بنا، ایجاد تراس، رفع ضعف های طراحی و اجرایی{% endblock meta_description %}
{% block meta_keywords %}sanof,شرکت فنی مهندسی سانوف تولید، بازرگانی، فنی مهندسی کاشت بولت و آرمیچر، افزایش سطح مقطع، افزایش زیرساخت، احداث تراس، رفع نقاط ضعف طراحی و اجرایی، سانوف، شرکت فنی مهندسی سانوف، بتن آماده، استحکامات سنندج، بتن ریزی ساختمان و بتن ریزی بتن سنندج {% endblock meta_keywords %}


{% block mystyle %} 
<script src="{% static 'js/lightbox.js' %}"></script>
<link href="{% static 'css/lightbox.css' %}" rel="stylesheet"/>

<script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true,
        'disableScrolling': true
    })
</script>
{% endblock %}

{% block body %}
{% if slider %}
<div class="row GetUsefulLinkAndArticle_Class1">
    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs GetUsefulLinkAndArticle_Class1">
        <img src="{% static 'images/slider.png' %}" class="img-responsive" alt="مقالات فنی و مهندسی" title="مقالات فنی و مهندسی" />
    </div>
</div>
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">صفحه اصلی</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:sliders' %}">مقالات فنی و مهندسی</a>
    </div>


</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 MainContentBody GetUsefulLinkAndArticle_Class1">

        <div class="GetUsefulLinkAndArticle_Class3">

            <h1 class="GetUsefulLinkAndArticle_Class4">
                مقالات فنی و مهندسی
                <span class="glyphicon glyphicon-bookmark IconFloatSetting GetUsefulLinkAndArticle_Class5"></span>
            </h1>
            {% for slider in sliders %}
            <div class="row GetUsefulLinkAndArticle_Class6">
                <div class="col-lg-4 col-md-4 hidden-sm hidden-sm">
                    <img src="{{ slider.image.url }}" style="width:80%; height:500px" class="img-responsive img-rounded center-block" alt="{{ slider.title_fa }}" title="{{ slider.title_fa }}" />
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="GetUsefulLinkAndArticle_Class7">
                          <h3 style="font-size: 22px;direction:rtl;">
                            <span class="glyphicon glyphicon-stop IconFloatSetting GetUsefulLinkAndArticle_Class8"></span>
                            <a target="" href="{% url 'sanof:slider' slider.slug_en %}">
                                {{ slider.title_fa }}
                            </a>
                        </h3>
                    </div>
                    <div style="margin-right: 56px;">
                        <div>
                           SANOF شرکت فنی مهندسی 
                            <span class="GetUsefulLinkAndArticle_Class9">
                                تالیف
                            </span>
                        </div>
                        
                        <br />
                        <div>
                            {{ slider.date|to_jalali:'%Y/%m/%d' }}
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% elif newses %}
          

<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">صفحه اصلی</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:newses' %}">اخبار و رویداد ها</a>
    </div>


</div>
<div class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 MainContentBody">

    <div class="DisplayEventAndNewsBoxParent col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12">
        {% for news in newses %}
            <div id=EventAndNews4422 class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 DisplayNewsAndEventBoxTitle">

                <div class="EventAndNewsListDateParent col-lg-1 col-md-1 col-sm-1 col-xs-6 pull-right">
                    <div class="EventAndNewsListDateSection">
                        {{ news.date|to_jalali:'/%d' }}
                    </div>
                    <div class="EventAndNewsListDateDivider"></div>
                    <div class="EventAndNewsListDateSection">
                        {{ news.date|to_jalali:'/%m' }}
                    </div>
                    <div class="EventAndNewsListDateDivider"></div>
                    <div class="EventAndNewsListDateSection">
                        {{ news.date|to_jalali:'/%Y' }}
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-right">
                    

                    <div class="EventAndNewsTitleMark">
                        <h2 class="FontSize18 MarginTop5 MarginBottom5" style="line-height: 1.7;">
                            {{ news.title_fa }}
                        </h2>
                    </div>

                    <div id=EventAndNewsShortExplain4422 class="EventAndNewsShortExplain col-lg-11 col-md-11 col-sm-11 col-xs-12 pull-right">
                            
                            <a href="{% url 'sanof:news' news.slug_en %}">در این باره بیشتر بدانید...</a>
                    </div>
                </div>


                    <div id=EventAndNewsImageBox4422 class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                        <img src="{{ news.image.url }}" style="width:80%; height:300px" alt="" title="" class="img-responsive img-rounded EventAndNewsListImage"/>
                    </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% elif certificates %}
<div class="row GetAllCertificate_Class1">
    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs GetAllCertificate_Class1">
        <img src="{% static 'images/Certificatebig.png' %}" class="img-responsive" style="clear: both" alt="Abadgaran Group Certificates" title="Abadgaran Group Certificates"/>
    </div>
</div>
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">صفحه اصلی</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:certificates' %}">استاندارد ها و گواهی نامه ها</a>
    </div>


</div>

<div class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 MainContentBody">


    <div class="CertificateBoxParent col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {% for certificate in certificates %}        
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  pull-right CertificateParentDiv">
                <a href="{{ certificate.image.url }}" data-lightbox="CertificateList" data-title="{{ certificate.title_fa }} ">
                    <img src="{{ certificate.image.url }}" alt="{{ certificate.title_fa }} " title="{{ certificate.title_fa }}" class="CertificateThumbnail  img-responsive"/><br/>
                    <p class="CertificateExplainBox">
                        {{ certificate.date|to_jalali:'%Y/%m/%d' }} {{ certificate.title_fa }}
                    </p>
                </a>
            </div>
        {% endfor %}    
    </div>
</div>
{% elif category %}

<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">صفحه اصلی</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:all_categories' %}">گروه های محصولات</a>
    </div>

         <div class="SiteMapElement_3">
            <a href="{% url 'sanof:categories' categories.slug_en %}"> {{ categories.name_fa }} </a>
        </div>
</div>
<div class="row DisplaySingleProductGroup_Class1">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 DisplayProductGroupBoxParent MainContentBody">

        <div id=ProductGroup34 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left DisplayProductGroupBox" style="height: auto; min-height: 300px;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                    <div class="ProductOrGroupTitleMark DisplaySingleProductGroup_Class2 ">

                            <h1 class=" col-lg-push-1 col-md-push-1 col-lg-11 col-md-11 col-sm-12 col-xs-12 FontSize26 MarginTop5 MarginBottom5 ProductGroupTitleAlighnment">
                                <span class="glyphicon glyphicon-stop IconFloatSetting DisplayProductGroup_Class3"></span>
                                {{ categories.name_fa }}
                            </h1>
                            <div class="col-lg-push-1 col-md-push-1 col-lg-11 col-md-11 col-sm-12 col-xs-12 ProductGroupTextAlighnment" >
                                {{ categories.description_fa|safe }}
                            </div>

                    </div>
                </div>

                {% for product in products %}
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 pull-left ProductLinkButtonParent">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 DisplaySingleProductGroup_Class4">
                        <a href="{% url 'sanof:product' product.slug_en %}" class="ProductLinkButtonATag">
                            <div class="ProductLinkButton">
                                <div class="FontSize16">
                                    {{ product.name_fa }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>                                 
        </div>
    </div>
</div>
        </div>
{% elif all_category %}

<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">صفحه اصلی</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:all_categories' %}">گروه های محصولات</a>
    </div>


</div>
<div class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 MainContentBody">
    <div class="DisplayProductGroupBoxParent" >
        {% for cat in categories %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div id=ProductGroup32 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right DisplayProductGroupBoxMainShow" style="">

                    <img src="{{ cat.image.url }}" style="width:100%; height:300px" class="img-responsive DisplayProductGroup_Class1"/>

                    <div class="DisplayProductGroup_Class2"></div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 pull-right">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                            <div class="ProductOrGroupTitleMark">
                                <h2 class="FontSize24 MarginTop10 MarginBottom5">
                                    <span class="glyphicon glyphicon-stop IconFloatSetting DisplayProductGroup_Class3"></span>
                                    <a href="{% url 'sanof:categories' cat.slug_en %}" class="">{{ cat.name_fa }}</a>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div id=ProductGroupProductBox32 class="ProductOrGroupLinkBoxParent DisplayProductGroupProductBox  col-lg-12 col-md-12 col-sm-12 col-xs-12  pull-right">
                        <div class="ProductOrGroupLinkBox">
                            {% for pro in cat.all_product.all|slice:":9" %}
                                <div>
                                    <h3 class="FontSize18 MarginTop5 MarginBottom10">
                                        <span class="glyphicon glyphicon-ok-sign IconFloatSetting FontSize14"></span>
                                        <a href="{% url 'sanof:product' pro.slug_en %}">{{ pro.name_fa }}</a>
                                    </h3>
                                </div> 
                                {% if forloop.counter > 8 %}
                                 <div>
                                    <h3 class="FontSize18 MarginTop5 MarginBottom10">
                                        <span class="glyphicon glyphicon-ok-sign IconFloatSetting FontSize14"></span>
                                        <a href="{% url 'sanof:categories' cat.slug_en %}">سایر محصولات این گروه</a>
                                    </h3>
                            </div>
                                {% endif %}
                            {% endfor %}    
                           
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% elif portfolios %}
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">صفحه اصلی</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:portfolios' %}">پروژه ها</a>
    </div>


</div>
<div class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 MainContentBody">

    <div id="ProjectGroupTitleBox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="glyphicon glyphicon-stop IconFloatSetting GetProjectGroup_Class1"></span>
        گروه های پروژه
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right DisplayProjectGroupBox">
        {% for pro in portfolios %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-right">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 FirstPageGrayBox">

                    <img src="{{ pro.image.url }}" style="width:100%; height:300px" class="img-responsive GetProjectGroup_Class2" alt="Abadgaran Group Project" title="Abadgaran Group Project"/>
                    <div class="GrayBoxLink" style="padding-top: 10px;">
                        <span class="glyphicon glyphicon-paperclip IconFloatSetting"></span>
                        <a href="{% url 'sanof:portfolio' pro.slug_en %}">{{ pro.title_fa }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% elif services %}
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">صفحه اصلی</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:services' %}">خدمات</a>
    </div>


</div>
<div class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 MainContentBody">

    <div id="ProjectGroupTitleBox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="glyphicon glyphicon-stop IconFloatSetting GetProjectGroup_Class1"></span>
        گروه های محصوات
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right DisplayProjectGroupBox">
        {% for service in services %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-right">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 FirstPageGrayBox">

                    <img src="{{ service.image.url }}" style="width:100%; height:300px" class="img-responsive GetProjectGroup_Class2" alt="Abadgaran Group Project" title="Abadgaran Group Project"/>
                    <div class="GrayBoxLink" style="padding-top: 10px;">
                        <span class="glyphicon glyphicon-paperclip IconFloatSetting"></span>
                        <a href="{% url 'sanof:service' service.slug_en %}">{{ service.title_fa }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% elif product %}
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">صفحه اصلی</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:products' %}">محصولات</a>
    </div>


</div>
<div class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12 MainContentBody">

    <div id="ProjectGroupTitleBox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="glyphicon glyphicon-stop IconFloatSetting GetProjectGroup_Class1"></span>
        گروه های خدمات
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right DisplayProjectGroupBox">
        {% for pro in products %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pull-right">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 FirstPageGrayBox">

                    <img src="{{ pro.image.url }}" style="width:100%; height:300px" class="img-responsive GetProjectGroup_Class2" alt="Abadgaran Group Project" title="Abadgaran Group Project"/>
                    <div class="GrayBoxLink" style="padding-top: 10px;">
                        <span class="glyphicon glyphicon-paperclip IconFloatSetting"></span>
                        <a href="{% url 'sanof:product' pro.slug_en %}">{{ pro.name_fa }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}
