{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}
{% load change_character %}

{% block hreflang %}ar{% endblock %} {% block lang %}ar{% endblock %}

{% block title %}
    {% if news %} مشاهدة الاخبار
    {% elif service %}مشاهدة الخدمة
    {% elif slider %} مشاهدة المقال
    {% elif portfolio %} عرض عينات العمل
    {% endif %}
{% endblock %}

{% block meta_description %}الصفحة الرئيسية لشركة  ، التصنيع ، التجارة ، الهندسة التقنية لزراعة البراغي والحديد ، زيادة المقطع العرضي ، زيادة البنية التحتية ، إنشاء شرفة ، إزالة نقاط الضعف في التصميم والتنفيذي {% endblock meta_description %}
{% block meta_keywords %}sanof,شركة سانوف للهندسة الفنية الإنتاج والتجارة والهندسة الفنية لزراعة البراغي والحديد ، زيادة المقطع العرضي ، زيادة البنية التحتية ، إنشاء المدرجات ، إزالة نقاط الضعف في التصميم والتنفيذ ، سانوف ، سانوف ، شركة سانوف الهندسية الفنية ، الخرسانة الجاهزة ، تحصينات سنندج ، صب الخرسانة والبناء والخرسانة سنندج ,{% endblock meta_keywords %}

{% block mystyle %} 
<script src="{% static 'js/lightbox.js' %}"></script>
<link href="{% static 'css/lightbox.css' %}" rel="stylesheet"/>

<script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true,
        'disableScrolling': true
    })
</script>
{% endblock %}

{% block body %}
{% if slider %}
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">صفحه الرئيسية</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:sliders' %}">مقالات فنية وهندسية</a>
    </div>

        <div class="SiteMapElement_3">
            <a href="{% url 'sanof:slider' slider.slug_en %}">{{ slider.title_ar }}   </a>
        </div>

</div>

<div class="ArticleDetailText col-lg-8 col-md-10 col-lg-push-2 col-md-push-1 col-sm-12 col-xs-12  ">
    <h1 style="margin-bottom: 15px;font-size: 28px; font-weight: bold">{{ slider.title_ar }}</h1>
    <p dir="RTL" style="text-align:justify">&nbsp;</p>
    {{ slider.description_ar|safe }}

</div>
{% elif news %}
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">Home</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:newses' %}">أخبار وأحداث</a>
    </div>

        <div class="SiteMapElement_3">
            <a href="{% url 'sanof:news' news.slug_en %}">{{ news.title_ar }}</a>
        </div>

</div>
<div class="row MainContentBody">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0; padding-right: 0;">
        <div class="DisplayEventAndNewsBoxParent">

            <div id=EventAndNews4422 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right DisplayNewsAndEventBox">
                <div id="ProductTitleAndExplain" class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                        <span class="glyphicon glyphicon-stop IconFloatSetting GetNewsAndEventDetail_Class1"></span>
                        <div class="EventAndNewsTitleMark">
                            <h2 class="FontSize18 MarginTop5 MarginBottom5">
                                {{ news.title_ar }}
                            </h2>
                        </div>
                    </div>

                    <div id=EventAndNewsMainExplain4422 class="EventAndNewsShortExplain col-lg-10 col-md-12 col-sm-12 col-xs-12  pull-right">
                        <div id="EventAndNewsExplain" class="EventAndNewsExplainBox">
                            {{ news.description_ar|safe }}
                        </div>
                    </div>        
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12  pull-right">
                    <div id="EventAndNewsImage" class="DisplayEventandNewsGroupImageBox col-lg-10 col-lg-push-2 col-md-10 col-md-push-2 col-sm-10 col-sm-push-2 col-xs-12 ">

                            <div class="col-lg-push-1 col-md-push-1 col-lg-11 col-md-11  col-sm-12 col-xs-12">
                                <img alt="" title="" class="img-responsive img-rounded " src="{{ news.image.url }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% elif service %}
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">صفحه الرئيسية</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:services' %}">خدمات</a>
    </div>

        <div class="SiteMapElement_3">
            <a href="{% url 'sanof:service' service.slug_en %}">{{ service.title_ar }}</a>
        </div>

</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right MainContentBody GetProjectGroupMember_Class2">
        <div class="GetProjectGroupMember_Class3">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right DisplayProjectBox">
                <div class="ProjectOrGroupLinkBoxParent ProjectLinkBox  col-lg-12 col-md-12 col-sm-12 col-xs-12  pull-right">
                    {{ service.description_ar|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% elif portfolio %}


<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">صفحه الرئيسية</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:portfolios' %}"> المشاريع </a>
    </div>

        <div class="SiteMapElement_3">
            <a href="{% url 'sanof:portfolio' portfolio.slug_en %}">{{ portfolio.title_ar }}</a>
        </div>

</div>
<div class="row MainContentBody">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0; padding-right: 0;">
        <div class="DisplayEventAndNewsBoxParent">

            <div id=EventAndNews4422 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right DisplayNewsAndEventBox">
                <div id="ProductTitleAndExplain" class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                        <span class="glyphicon glyphicon-stop IconFloatSetting GetNewsAndEventDetail_Class1"></span>
                        <div class="EventAndNewsTitleMark">
                            <h2 class="FontSize18 MarginTop5 MarginBottom5">
                                {{ portfolio.title_ar }}
                            </h2>
                        </div>
                    </div>

                    <div id=EventAndNewsMainExplain4422 class="EventAndNewsShortExplain col-lg-10 col-md-12 col-sm-12 col-xs-12  pull-right">
                        <div id="EventAndNewsExplain" class="EventAndNewsExplainBox">
                            {{ portfolio.description_ar|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-push-1 col-md-push-1 col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 50px; padding-right: 50px">

                <div id="EventAndNewsImageBox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12  pull-right">

                        <div class="col-lg-2 col-md-4  col-sm-6 col-xs-12 pull-right">
                            <a href="{{ portfolio.image.url }}"  data-lightbox="{{ portfolio.title_ar }}" data-title="">
                                <img src="{{ portfolio.image.url }}" alt="" title="" class="EventAndNewsImageThumbnail  img-responsive"/>
                            </a>
                        </div>
                        {% for img in images %}
                            <div class="col-lg-2 col-md-4  col-sm-6 col-xs-12 pull-right">
                                <a href="{{ img.image.url }}" data-lightbox="" data-title="">
                                    <img src="{{ img.image.url }}" alt="" title="" class="EventAndNewsImageThumbnail  img-responsive"/>
                                </a>
                            </div>
                        {% endfor %}
                </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
