{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="row GetUsefulLinkAndArticle_Class1">
    <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs GetUsefulLinkAndArticle_Class1">
        <img src=/Image/UsefullLink.png class="img-responsive" alt="مقالات فنی و مهندسی" title="مقالات فنی و مهندسی" />
    </div>
</div>
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 SiteMapParent">

    <div class="SiteMapElement_1">
        <a href="{% url 'sanof:index' %}">صفحه اصلی</a>
    </div>

    <div class="SiteMapElement_2">
            <a href="{% url 'sanof:sliderrs' %}">مقالات فنی و مهندسی</a>
    </div>


</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 MainContentBody GetUsefulLinkAndArticle_Class1">

        <div class="GetUsefulLinkAndArticle_Class3">

            <h1 class="GetUsefulLinkAndArticle_Class4">
                مقالات فنی و مهندسی
                <span class="glyphicon glyphicon-bookmark IconFloatSetting GetUsefulLinkAndArticle_Class5"></span>
            </h1>

                <div class="row GetUsefulLinkAndArticle_Class6">
                    <div class="col-lg-4 col-md-4 hidden-sm hidden-sm">
                        <img src=/ArticleImage/کف-سازی-پارکینگ-ها.jpg class="img-responsive img-rounded center-block" alt="مشکلات موجود در کف سازی پارکینگ ها و روش‌های رفع آن   " title="مشکلات موجود در کف سازی پارکینگ ها و روش‌های رفع آن   " />
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="GetUsefulLinkAndArticle_Class7">
                              <h3 style="font-size: 22px;direction:rtl;">
                                <span class="glyphicon glyphicon-stop IconFloatSetting GetUsefulLinkAndArticle_Class8"></span>
                                <a target="" href=/fa-IR/Articles-Detail/1092/%DA%A9%D9%81-%D8%B3%D8%A7%D8%B2%DB%8C-%D9%BE%D8%A7%D8%B1%DA%A9%DB%8C%D9%86%DA%AF-%D9%87%D8%A7>
                                    مشکلات موجود در کف سازی پارکینگ ها و روش‌های رفع آن   
                                </a>
                            </h3>
                        </div>
                        <div style="margin-right: 56px;">
                            <div>
                                واحد توسعه تجارت شرکت آبادگران
                                <span class="GetUsefulLinkAndArticle_Class9">
                                    تالیف
                                </span>
                            </div>

                            <div class="GetUsefulLinkAndArticle_Class10">
                                <p dir="RTL" style="text-align: justify;"><span style="font-size:16px">كف سازي يكي از مهمترين مباحث در زمينه اجراي ابنيه صنعتي است كه با توجه به اهميت آن مي بايست به طور جدي و تخصصي به تحليل و ارائه راهكارهاي مناسب در اين خصوص اقدام گردد، سالانه هزينه بسيار هنگفتي صرف تعمير و بازسازي كف سازي سالن ها مي گردد علاوه بر اين، زمان يكي از پارامترهاي بسيار قابل توجه است كه مي بايست صرف تعميرات و بعضاً تعطيلي و<span dir="LTR">... </span>گردد. از طرفي با توجه به اينكه فضاهاي مربوط به سالن هاي توليد و انبارها در معرض خوردگي با مواد شيميايي، اصابت اجسام تيزگوشه و نفوذ آب مي باشد.</span></p>

                                <p dir="RTL" style="text-align: justify;"><span style="font-size:16px">سطوح بتنی کف پارکینگ&shy;های عمومی، به دلیل قرار گرفتن در معرض عوامل محیطی فرسانیده، تنش ها و فشارهای وارد بر کف نظیر بارهای دینامیک (پویا) و مکانیکی، سایش مکانیکی، نفوذ آب و مواد شیمیایی و روغن موتور (روغن های هیدرولیکی) به مرور زمان دچار افت کیفیت و یا تخریب می&shy;شوند. بتن براي مناطق مختلف اهداف خاص علاوه بر مقاومت و تحمل بارها، پايايي، ماندگاري و دوام بتن نيز مورد توجه قرار مي گيرد<span dir="LTR">.</span> &nbsp;امروزه با اضافه كردن مواد افزودني بتن و تغييرات در طرح اختلاط بتن، در پروژه هاي مختلف تحقيقاتي و پژوهشي توانسته اند انواع مختلفي از بتن ويژه، را توليد كنند. &nbsp;از طرف ديگر بررسي كاربرد اين بتن ها در پروژه هاي مختلف عمراني داراي اهميت خاص مي باشد. به خاطر اين كه برخي از اين بتن ها براي اهداف خاص طراحي شده اند و امكان دارد در بقيه المان هاي سازه اي و غير سازه اي پروژه هاي عمراني نيز مفيد و اقتصادي باشند.</span></p>

                            </div>
                            <br />

                            <div>
                                1400/11/03
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                            
                        </div>
                    </div>

                </div>
{% endblock %}